.equipment-card {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid grey;
}

.vignette-lvl {
    width: 50px;
    font-size: 12px;
    border-radius: 4px;
}

.vignette-card {
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
}
